# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Build
build/
DerivedData/
*.xcworkspace/xcuserdata/

# Dependencies
Pods/
node_modules/
.packages
.dart_tool/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Environment
.env
.env.local
*.p8
*.p12
*.mobileprovision
*.cer
